html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  background: rgb(83, 86, 100);
  color: gainsboro;
}

#root {
  margin: 0 auto;
  padding: 40px 20px;
}

.block {
  width: 100%;
  margin-bottom: 60px;
  background: #000018;
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: .1em .1em .1em rgba(0,0,0,.5);
}

h1 {
  text-align: center;
  padding: 40px 10px 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

svg {
  text-align: center;
}
  
svg text {
  font-family: Helvetica;
  font-size: 14px;
  fill: gainsboro;
}

text.title {
  font-size: 22px;
  fill: Aqua;
}

path.line {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

path.area {
  fill: blue;
  opacity: 0.2;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

line.x,
line.y,
circle.y {
  stroke: Aqua;
}

.map-area {
  stroke: white;
  stroke-width: 0.25px;
  fill: blue;
}

.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

  /* Tooltip */
.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: Aqua;
  border-radius: 3px;
  pointer-events: none;

  /* Creates a small triangle extender for the tooltip */
  &:after {      
      box-sizing: border-box;
      display: inline;
      font-size: 14px;
      width: 100%;
      line-height: 1.3;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      pointer-events: none;    
    }

  /* Northward tooltips */
  &.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
  }

  /* Eastward tooltips */
  &.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
  }

  /* Southward tooltips */
  &.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
  }

  /* Westward tooltips */
  &.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
  }
}

.details{
  color: gainsboro;
}

#pieContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.pie-wrapper {
  width: 32%;
}

polyline {
  opacity: .3;
  stroke: Aqua;
  stroke-width: .9;
  stroke-dasharray: 1,1;
  fill: none;
}

.labels text {
  font-size: 5px;
  fill: gainsboro;
}

.pie-title {
  font-size: 24px;
  font-weight: normal;
  color: Aqua;
  text-align: center;
  font-family: Helvetica;
}

.bar {
  fill: blue; 
  opacity: .6;
  &:hover {
    opacity: 1;
    transition: fill .15s;
  }
}

#barContainer {
  .axis path,
  .axis line {
    fill: none;
    stroke: Aqua;
    stroke-width: .5px;
    shape-rendering: crispEdges;
  }
  .x path {
    display: none;
  }
}

.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  @extend .d3-tip;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
  }
}

@media screen and (min-width: 1400px) {
  #root {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .block {
    width: 49.5%;
  }

  .pie-title {
    font-size: 16px;
  }

  #pieContainer {
    width: 49.5%;
  }
}

@media screen and (max-width: 600px) {
  .pie-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .pie-title {
    font-size: 12px;
  }
}